.productDetail{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    color:white;
    background-color:indigo;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.details{
    flex-direction: column;
    margin-left: 25px;
    flex-wrap: wrap;
    width: 75%;
}
button + button{
    margin-left: 5px;
}