
.NavBar {
  background-color: purple;
  flex-direction:row;
  align-items: center;
  justify-items: center;
  text-align: center;
}
ion-icon{
  font-size: 30px;
  color: aliceblue;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.background {
  background-color: #282c34;
  min-height: 120vh;
  display: flex;
  text-align: center;
  height:max-content;
  width: 100%;
}
